html {
    height: 100%;
}

body {
    background: #666;
    height: 100%;
    margin: 0;
    padding: 0
}

#map {
width:100%;
height:100%;
}

.cluster{
    color: #FFFFFF;
    text-align:center;
    font-family: 'Arial';
    font-size:18px;
    font-weight:bold;
    letter-spacing: 0.04em;
    text-shadow: 0 0 2px #000;
    -moz-text-shadow: 0 0 2px #000;
    -webkit-text-shadow: 0 0 2px #000;
    cursor:pointer;
}

.cluster-s {
    background: url('../img/cluster-s.png') no-repeat;
    line-height:46px;
    width: 45px;
    height: 46px;
}

.cluster-m {
    background: url('../img/cluster-m.png') no-repeat;
    line-height:63px;
    width: 64px;
    height: 63px;
    font-size: 20px;
}

.cluster-l {
    background: url('../img/cluster-l.png') no-repeat;
    line-height:80px;
    width: 81px;
    height: 80px;
    font-size:22px;
}

.balloon {
    overflow: hidden; 
    cursor: default; 
    clear: both; 
    position: relative; 
    height: 87px; 
    padding: 0; 
    background-color: #2C2C2C; 
    border-radius: 4px 4px; 
    -moz-border-radius: 4px 4px;
    -webkit-border-radius: 4px 4px;
    border: 1px solid #2C2C2C; 
    margin-top: -55px;
    min-width:200px;
}

.balloon .icon {
    padding: 5px;
    float:left;
}


.balloon .icon img {
    width:77px;
    height:77px;
}

.balloon .text {
    color:#eee;
    font-family: 'Arial';
    font-size:13px;
    line-height:20px;
    text-shadow:0 -1px 0 #000000;
    overflow:hidden;
    text-overflow: ellipsis;
    padding-top:2px;
    height:77px;
    max-width:250px;
}

.pointer {
    position: absolute; 
    bottom:-10px;
    left: 46px; 
    height: 0px; 
    width: 0px; 
    margin-left: 0pt; 
    border-width: 10px 10px 0pt 0pt; 
    border-color: #2C2C2C transparent transparent; 
    border-style: solid;
}

#DOMWindow {
    overflow:hidden;
}

#DOMWindow .thumbScroller {
    overflow-y:hidden;
    overflow-x: scroll;
    height:111px;
}

#DOMWindow .thumbs {
    padding:5px;
}

#DOMWindow .thumb {
    padding:5px;
    display: inline-block;
    line-height:0;
    font-size: 0;
    cursor:pointer;
}
  
#DOMWindow .thumb:hover {
    background-color: #000;
}

        
#DOMWindow .thumb.selected {
    background-color: #eee;
}

#DOMWindow .image {
    text-align:center;
    min-height: 100px;
    vertical-align:middle;
    padding:10px;
    cursor:pointer;
}

#DOMWindow .caption {
    color: #eee;
    margin:10px;
    margin-top: 0px;
    letter-spacing: 0.04em;
    max-height:150px;
    overflow-y:hidden;
}

#DOMWindow .button {
    background-color: #007e66;
    color: #fff;
    padding:5px;
    padding-left: 10px;
    padding-right:10px;
    cursor:pointer;
    display:inline-block;
    font-weight:bold;
    opacity: 0.7;
}

#DOMWindow .button:hover {
    opacity: 1;
}

#DOMWindow .extras {
    text-align:center;
    display:none;
}

#infoWindow {
    position:fixed;
    top: 50px;
    right:6px;
    width:240px;
    min-height:240px;
    background: rgba(40, 40, 40, 0.85);
    color: #eee;
    font-size: 12px;
}

#infoButton {
    position:fixed;
    right:122px;
    top: 4px;
    width: 25px;
    height:25px;
    cursor:pointer;
    background: url('../img/info_button.png') no-repeat;
    opacity: 0.6;
    display: none;
}

#infoButton:hover {
    opacity: 0.8;
}

.window .body {
    padding: 10px;
    padding-top: 0px;
}

.window .body a {
    color: #fff;
}

.window .title {
    background: #007e66;
    padding:5px;
    padding-left:10px;
    font-weight:bold;
    color: #fff;
    letter-spacing: 0.04em;
    font-size:15px;
}

.window .close {
    width: 15px;
    height:15px;
    padding-top:2px;
    padding-right:2px;
    background: url('../img/close_button.png') no-repeat;
    background-position: 50% 50%;
    float:right;
    opacity: 0.8;
    margin-top: 0px;
    cursor:pointer;
}

.window .close:hover {
    opacity: 1;
}